[user]
    email = rob@robgolding.com
    name = Rob Golding
	signingkey = 13A6D5DA
[github]
    user = robgolding
[push]
    default = upstream
[branch]
	autosetuprebase = always
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[commit]
	gpgsign = true
[alias]
	prlog = "!f() { git log ${1:-develop}..HEAD --reverse --no-merges --pretty='---%n%n**%s** (%h)%n%n%b'; }; f"
    stats = shortlog -sn --since='4 weeks'
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    recap = log --all --oneline --no-merges --author=rob@robgolding.com
    today = log --since=00:00:00 --all --no-merges --oneline --author=rob@robgolding.com
    graph = log --graph --all --decorate --stat --date=iso
    fresh = !git checkout develop && git pull && git checkout -b
    freshen = !b=$(git rev-parse --abbrev-ref HEAD) && git checkout develop && git pull && git checkout $b && git merge develop
    lc = "!f() { git commit \"$1\" -m \"Lint \\`$1\\`\"; }; f"
