[user]
    email = rob@robgolding.com
    name = Rob Golding
[github]
    user = robgolding63
[push]
    default = upstream
[branch]
	autosetuprebase = always
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
