[submodule ".vim"]
	path = .vim
	url = git@github.com:robgolding63/.vim
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:robgolding63/prezto
[submodule ".scm_breeze"]
	path = .scm_breeze
	url = git@github.com:ndbroadbent/scm_breeze.git
